.header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.main__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-title{
    text-align: center;
}