.header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.main__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-title{
    text-align: center;
}

.circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;
}