* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

.max_content {
  max-width: 1920px;
}

.site_padding {
  padding-left: 8px;
  padding-right: 8px;
}

.top_bottom_padding {
  padding-top: 8px;
  padding-bottom: 8px;
}

a {
  text-decoration: none;
  color: black;
}

.d_none {
  display: none !important;
}

.btn{
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}