* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.color-white{
    color: white;
}

.pointer{
    cursor: pointer;
}

.overflow_hidden{
    overflow: hidden;
}

.overflow_scroll{
    overflow: scroll;
}

.site_padding{
  padding-left: 16px;
  padding-right: 16px;
}